.containerNavbar {
    width: 100%;
    height: vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(107, 208, 129);
    align-items: center;
}

.containerNavbar ul li {
    list-style-type: none;
    font-size: 20px;
}